[theme]
;<element>            = <foreground>   <background>  <attributes>
Normal                = default        default       normal
Selected              = default        default       normal
SelectedCursor        = default        default       reverse

TitleBar              = black          yellow        bold+reverse
OrderBar              = blue           -             bold
OrderBarHighlight     = blue           -             bold+reverse
HelpBar               = blue           -             bold+reverse
Prompt                = green          -             bold+reverse
NoticeInfo            = -              -             bold
NoticeLoading         = -              -             bold
NoticeError           = -              -             bold
NoticeSuccess         = -              -             bold

CursorBlock           = -              -             -
CursorBar1            = magenta        -             -
CursorBar2            = cyan           -             -
CursorBar3            = green          -             -
CursorBar4            = yellow         -             -

CommentAuthor         = blue           -             bold
CommentAuthorSelf     = green          -             bold
CommentCount          = -              -             -
CommentText           = -              -             -
Created               = -              -             -
Downvote              = red            -             bold
Gold                  = yellow         -             bold
HiddenCommentExpand   = -              -             bold
HiddenCommentText     = -              -             -
MultiredditName       = yellow         -             bold
MultiredditText       = -              -             -
NeutralVote           = -              -             bold
NSFW                  = bright_red     -             bold+reverse
Saved                 = green          -             -
Hidden                = yellow         -             -
Score                 = -              -             -
Separator             = -              -             bold
Stickied              = green          -             -
SubscriptionName      = yellow         -             bold
SubscriptionText      = -              -             -
SubmissionAuthor      = green          -             bold
SubmissionFlair       = bright_yellow  -             -
SubmissionSubreddit   = bright_magenta -             -
SubmissionText        = -              -             -
SubmissionTitle       = -              -             bold
SubmissionTitleSeen   = -              -             -
Upvote                = green          -             bold
Link                  = light_gray     -             underline
LinkSeen              = dark_gray      -             underline
UserFlair             = yellow         -             bold
New                   = red            -             bold
Distinguished         = red            -             bold
MessageSubject        = blue           -             bold
MessageLink           = magenta        -             bold
MessageAuthor         = green          -             bold
MessageSubreddit      = yellow         -             -
MessageText           = -              -             -
