*unique*
gnupg/crls.d
gnupg/openpgp-revocs.d
gnupg/private-keys-v1.d
gnupg/*.kbx
gnupg/random_seed
gnupg/sshcontrol
gnupg/trustdb.gpg
gnupg/tofu.db

nvim/autoload/

RescueTime.com/log/

vim/.vim_mru_files
vim/autoload
vim/plugged

weechat/*.log
weechat/logs
weechat/python/autoload

zsh/.zcompdump
