! .Xresources
! 
! Note:  Dont forget that * is a wildcard


xterm*faceName        : Droid Sans Mono for Powerline:style=Regular:size=9:antialias=true
xterm*font            : 7x13
xterm*faceSize        : 9
xterm*saveLines       : 16384
xterm*loginShell      : true
xterm*charClass       : 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName        : uxterm
xterm*eightBitInput   : false
xterm*borderWidth     : 0
xterm*colorBDMode     : true
xterm*allowBoldFonts  : false

! terminal colors ----------------------------------------------------

!Black + Dark Grey
*color0: #191d20
*color8: #8a8a86
! Dark Red + Red
*color1: #9d96a0
*color9: #54a8c8
! DarkGreen + Green
*color2: #a0898e
*color10: #c6c8bf
! DarkYellow + Yellow
*color3: #a07171
*color11: #c6c8bd
! DarkBlue + Blue
*color4: #5289a0
*color12: #c6c8bc
! DarkMagenta + Magenta
*color5: #9ea09e
*color13: #d4d3c6
! DarkCyan + Cyan
*color6: #a06667
*color14: #e0e0d1
! Light Grey + White
*color7: #7897a0
*color15: #e0dfcf
!FMT Include, StatusLine, ErrorMsg
#define _colorBD      #ffcfaf
#define _colorUL      #ccdc90
#define _colorIT      #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground   #e0bdc6
#define _background   #333344
#define _cursorColor  #8faf9f

xterm*colorBD         : _colorBD
xterm*colorIT         : _colorIT
xterm*colorUL         : _colorUL
xterm*foreground      : _foreground
xterm*background      : _background
xterm*cursorColor     : _cursorColor
