! .Xresources
! 
! Note:  Dont forget that * is a wildcard

*faceName        : Droid Sans Mono for Powerline:style=Regular:size=9:antialias=true
*font            : 7x13
*faceSize        : 9
*saveLines       : 16384
*loginShell      : true
*charClass       : 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
*termName        : uxterm
*eightBitInput   : false
*borderWidth     : 0
*colorBDMode     : true
*allowBoldFonts  : false

*color0 : #141618
*color1 : #9b6465
*color2 : #51ca7e
*color3 : #eda757
*color4 : #4e9ab7
*color5 : #9b6481
*color6 : #58488a
*color7 : #bab9ad
*color8 : #40464b
*color9 : #de8f91
*color10 : #79de9e
*color11 : #fbd25d
*color12 : #65c8ed
*color13 : #ffb2bd
*color14 : #eae9da
*color15 : #eae9da
xterm*colorBD : #ffffff
xterm*colorIT : #fbd25d
xterm*colorUL : #de8f91
xterm*foreground : #eae9da
xterm*background : #30363b
xterm*cursorColor : #eae9da
