! .Xresources
! 
! Note:  Dont forget that * is a wildcard

xterm*faceName        : Droid Sans Mono for Powerline:style=Regular:size=9:antialias=true
xterm*font            : 7x13
xterm*faceSize        : 9
xterm*saveLines       : 16384
xterm*loginShell      : true
xterm*charClass       : 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName        : uxterm
xterm*eightBitInput   : false
xterm*borderWidth     : 0
xterm*colorBDMode     : true
xterm*allowBoldFonts  : false

! terminal colors ----------------------------------------------------


! Haruko Bass --------------------------------------------------------

!Black + Dark Grey
*color0               : #141618
*color8               : #30363b
! Dark Red + Red
*color1               : #9b6465
*color9               : #de8f91
! DarkGreen + Green
*color2               : #51ca7e
*color10              : #79de9e
! DarkYellow + Yellow
*color3               : #fbd25d
*color11              : #ffffff
! DarkBlue + Blue
*color4               : #4e9ab7
*color12              : #65c8ed
! DarkMagenta + Magenta
*color5               : #9b6481
*color13              : #ffb2bd
! DarkCyan + Cyan
*color6               : #ffffff
*color14              : #ffffff
! Light Grey + White
*color7               : #bab9ad
*color15              : #eae9da
!FMT Include, StatusLine, ErrorMsg
xterm*colorBD         : #141618
xterm*colorIT         : #fbd25d
xterm*colorUL         : #de8f91
!TXT Normal, Normal, Cursor
xterm*foreground      : #eae9da
xterm*background      : #30363b
xterm*cursorColor     : #eae9da


! Unit00000001 -------------------------------------------------------

!Black + Dark Grey
!*color0               : #12142c
!*color8               : #1e232c
! Dark Red + Red
!*color1               : #4b3234
!*color9               : #ffffff
! DarkGreen + Green
!*color2               : #304c2f
!*color10              : #578e50
! DarkYellow + Yellow
!*color3               : #ffffff
!*color11              : #ffffff
! DarkBlue + Blue
!*color4               : #262551
!*color12              : #58488a
! DarkMagenta + Magenta
!*color5               : #513658
!*color13              : #938084
! DarkCyan + Cyan
!*color6               : #ffffff
!*color14              : #ffffff
! Light Grey + White
!*color7               : #ffffff
!*color15              : #d5d1d2
!FMT Include, StatusLine, ErrorMsg
!xterm*colorBD         : #ffffff
!xterm*colorIT         : #ffffff
!xterm*colorUL         : #ffffff
!TXT Normal, Normal, Cursor
!xterm*foreground      : #938084
!xterm*background      : #06080e
!xterm*cursorColor     : #938084

